<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>The Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <img id="logo" src="/assets/icon/favicon.png" alt="Pushape" />
  <p>
    You can use Pushape Playground to test your Notification Stack. You can easily configure this app to receive your
    own notification throught the Pushape Backend
  </p>
  <p>
    Pushape is a Push Notification Backend developed and mantained by Glue Labs. Pushape makes it easy to add push notifications to your ionic and cordova applications 
  </p>
  <p>
    This application is Open Source, relased under MIT License and mantained in a Public Repository on GitHub <ion-icon
      name="logo-github">
    </ion-icon>
  </p>


  <ion-grid>
    <ion-row>
      <ion-col>
        <a target="_blank" href="https://github.com/gluelabs/pushape-playground">
          <p>Visit the Repositiry</p>
          <img id="logo" src="/assets/icon/octocat.png" alt="Octocat" />
        </a>
      </ion-col>
      <ion-col>
        <a target="_blank" href="https://glue-labs.com">
          <p>Visit Glue Labs</p>
          <img id="logo" src="/assets/icon/512.webp" alt="Glue Labs" />
        </a>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>